<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Daten_kopieren_Chia_GPU_Plotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Daten_kopieren_Chia_GPU_Plotter.Properties.Settings>
            <setting name="FarmerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PoolKey" serializeAs="String">
                <value />
            </setting>
            <setting name="QuellPfad" serializeAs="String">
                <value />
            </setting>
            <setting name="Zielpfade" serializeAs="String">
                <value />
            </setting>
            <setting name="CudaPlotterPfad" serializeAs="String">
                <value />
            </setting>
            <setting name="AnzahlPlots" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kGröße" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="kompression" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="PlotterAuswahl" serializeAs="String">
                <value>Chia GPU Plotter</value>
            </setting>
            <setting name="gpuSharedMemory" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MadMaxTmpOrdner" serializeAs="String">
                <value />
            </setting>
            <setting name="MadMaxRamNutzung" serializeAs="String">
                <value>1</value>
            </setting>
        </Daten_kopieren_Chia_GPU_Plotter.Properties.Settings>
    </userSettings>
</configuration>